@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;900&amp;display=swap");
@import "tailwindcss";

body {
  font-family: "Lexend", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 100;
    transform: translateY(0);
  }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
}